img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.galeria {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 0;
}
.galeria h3 {
  color: #ff6b00;
  text-align: center;
  font-size: 5rem;
}
.galeria-imagenes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2rem, 1fr);
  gap: 5rem;
}
@media (min-width: 480px) {
  .galeria-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2rem, 1fr);
    gap: 5rem;
  }
}
@media (min-width: 760px) {
  .galeria-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3rem, 1fr);
    gap: 5rem;
  }
}

.galeria-imagenes img {
    height: 20rem;
    object-fit: cover;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.5);
  display: grid;
  place-items: center;
  z-index: 11;
  animation: fadeIn ease-in 0.5s;
}
.modal.fadeOut {
  animation: fadeOut ease-in 0.5s;
}
.modal img {
    border-radius: 50px;
  width: 80%;
  height: 25rem;
  margin: 0 auto;
}
@media (min-width: 480px) {
    .modal img {
  width: 80%;
  height: 30rem;
  margin: 0 auto;
}
}
@media (min-width: 760px) {
    .modal img {
  width: 80%;
  height: 40rem;
  margin: 0 auto;
}
}

.modal .btn-cerrar {
  width: 4.5rem;
  height: auto;
  border-radius: 50%;
  background-color: #fff;
  color: #333333;
  font-size: 3rem;
  border-style: none;
  transition: ease-in-out 0.5s;
}
.modal .btn-cerrar:hover {
  background-color: #ff6b00;
  color: #9b51e0;
  transition: ease-in-out 0.5s;
  transform: scale(1.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}